.DS_Store
*~
.#*
*.log
*.pid

/logs

pom.xml*
*.jar
/lib/
/target/
/classes/
/checkouts/

.lein-*
.lein-env
.lein-plugins
.lein-deps-sum
.lein-failures
.lein-repl-history

.nrepl-*
.nrepl-port
.nrepl-history

node_modules/
npm-debug.log*
